# Pinned to the latest package versions available on PyPI as of 2025-10-24
# If you want always-latest on each install, use `requirements.in` instead.
numpy==2.3.4
scipy==1.16.2
pandas==2.3.3
matplotlib==3.10.7
seaborn==0.13.2
PyYAML==6.0.3
tqdm==4.67.1
rich==14.2.0
psutil==7.1.1
joblib==1.5.2
statsmodels==0.14.5
cycler==0.12.1
pyarrow==21.0.0
